POSTGRES_USER=userTAM
POSTGRES_PASSWORD=passwordTAM
POSTGRES_DB=tam_db
DATABASE_URL="postgresql://userTAM:passwordTAM@localhost:5432/tam_db?schema=public"
SESSION_SECRET="e9a2b7f0c1d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9"
